.w3-light-grey{
  color:#000!important;
  background-color:#f1f1f1!important;
  -webkit-print-color-adjust: exact !important;
  }
.w3-grey{
  color:#000!important;
  background-color:#9e9e9e!important;
  -webkit-print-color-adjust: exact !important;
  }